body {
    margin: 0;
    background: black;
}

.container{

    background: #6943FF;
    width: 550px;
    height: 285px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    
 
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2{
    background: #1F2937;
    width: 550px;
    height: 400px;
    padding-top: 26px;
    margin-bottom: 10px;
}

.firstbx{
    background: #273549;
    width: 500px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstbx2{
    background: #273549;
    width: 500px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.firstbx3{
    background: #273549;
    width: 500px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading{
    font-weight: bold;
}
#number{
    
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 13px;
    border: 1px solid;
    width: 100px;
    height: 83px;
    padding-left: 22px;
    padding-top: 22px;
    padding-left: 30px;
}
button{
    margin-bottom: 10px;
    padding: 9 10px;
    border-radius: 5px;
    border: none;
    width: 100px;
    
}

h3{
    color: #CCC1FF;
    margin-bottom: 9px;
}

input{
    font-size: 58px;
    font-weight: 800;
    text-align: center;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background: #6943FF;
    margin-bottom: 25px;
    color: #fff;
    
}
